{% extends "layout.html" %}
{% block content %}

<section class="section">
    <div class="columns">
        <div class="column is-half">
            <nav class="panel">
                <p class="panel-heading">Your party<p>
                {% for g in guests %}
                    {% if (g.guest_group == current_user.email) or (g.email == current_user.email) %}
                        <div class="panel-block">
                            <a href={{ url_for('edit_guest', guest_id=g.id) }}>
                                {{ g.name }}
                            </a>
                            {% if (g != current_user) and (g.guest_group == current_user.email) %}
                                <a class="delete ml-2" href={{ url_for('delete_guest', guest_id=g.id) }}></a>
                            {% endif %}        
                        </div>
                    {% else %}
                        <a class="panel-block">{{ g.name }}</a>
                    {% endif %}
                    
                {% endfor %}
                <div class="panel-block">
                    <a class="button" href={{ url_for('add_guest') }}>Add Guest</a>
                </div>    
            </nav>
        </div>
    </div>
                
    <div class="field">
        <div class="control">
            <a class="button is-dark" href={{ url_for('home') }}>Done</a>
        </div>
    </div>

</section>
{% endblock content %}