{% extends "layout.html" %}
{% block content %}

<section class="section is-medium top-image"
    style="background-image: url(https://images.unsplash.com/photo-1504279577054-acfeccf8fc52?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNjQxfDB8MXxzZWFyY2h8N3x8dmluZXlhcmR8ZW58MHx8fHwxNjM5MTY5MDcy&ixlib=rb-1.2.1&q=80&w=1080&utm_source=eventcreate_client_app&utm_medium=referral&utm_campaign=api-credit)">
    <div class="container"></div>
    <div class="container has-text-centered">
        <p class="is-size-1 has-text-white" style="font-family: Garamond">Bruno & Valeria</p>
    </div>
</section>

<section class="section">
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="content has-text-centered">
                <h1 class="title has-text-weight-light" style="font-family:Garamond">Our Story</h1>
                <p class="has-text-weight-light has-text-grey is-size-5" style="font-family:Garamond">
                We would have never guessed that what started as a casual 
                friendship 5 years ago would turn into a happy relationship that 
                keeps growing stronger to this day. It took a series of unlikely 
                events and even a broken ankle for us to get together - 
                but once we did, it felt like it was meant to be.
                </p>
                <p class="has-text-weight-light has-text-grey is-size-5" style="font-family:Garamond">
                In the past 5 years we had a lot of fun together, traveled the 
                world, picked up new hobbies and new languages - or at least we 
                tried. We went through a whole year of lockdown in a small 
                apartment and somehow we made it.
                </p>
                <p class="has-text-weight-light has-text-grey is-size-5" style="font-family:Garamond">
                Now we are excited to take our relationship to the next level 
                and we are inviting you to celebrate this special day with us!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns">
        <div class="column is-one-quarter is-offset-one-quarter">
            <div class="content has-text-centered">
                <h1 class="title has-text-weight-light" style="font-family:Garamond">Ceremony</h1>
                <p>July 17, 2022 - 2:00pm</p>
                <p class="mb-0">Cave Springs Vineyard</p>
                <p class="has-text-grey">4043 Cave Springs Road<br>
                Beamsvilee, ON</p>
                <a class="button is-black" href="https://goo.gl/maps/mHFfew4UjCCM4BTv6" target="_blank" rel="noopener noreferrer">Directions</a>
            </div>
        </div>
        <div class="column is-one-quarter">
            <div class="content has-text-centered">
                <h1 class="title has-text-weight-light" style="font-family:Garamond">Reception</h1>
                <p>July 17, 2022 - 4:30pm</p>
                <p class="mb-0">Inn on the Twenty Restaurant</p>
                <p class="has-text-grey">3836 Main St<br>
                Jordan Station, ON</p>
                <a class="button is-black" href="https://goo.gl/maps/Fjzcns6YrDWmPWwe8" target="_blank" rel="noopener noreferrer">Directions</a>
            </div>
        </div>
        <div class="column"></div>
    </div>
    <div class="column column is-half is-offset-one-quarter">
        <div class="content">
            <h1 class="title has-text-weight-light has-text-centered" style="font-family:Garamond">Timeline</h1>
            <dl>
                <dd>2:15pm - Ceremony (Cave Springs)</dd>
                <dd>3:00pm - Photos</dd>
                <dd>4:30pm - Cocktail Reception (Inn on the Twenty Restaurant)</dd>
                <dd>6:00pm - Dinner, Speeches and Fun</dd>
                <dd>7:30pm - Dancing and More Fun</dd>
            </dl>
        </div>    
    </div>
</section>




{% include "pictures.html" %}

<section class="section is-medium has-background-black">
    <div class="content has-text-centered">
        <p class="title has-text-white is-3" style="font-family:Garamond">Join us on July 17</p>
        <p class="subtitle has-text-white is-6">We look forward to hosting you!</p>
        <a class="button is-size-4" href={{ url_for('guests.rsvp')}}>RSVP now</a>
    </div>
</section>

<section class="section">
    <div class="column column is-half is-offset-one-quarter">
        <div class="content">
        <h1>FAQ</h1>
            <ol>
                <strong><li>What's the dress code?</li></strong>
                <p>Smart casual - you don't have to wear a full suit or a formal cocktail dress, just be comfortable for a beautiful summer vineyard wedding. LADIES, keep in mind you may have to walk on the grass at the vineyard, so choose your heels wisely :)</p>
                <strong><li>Is there a gift registry?</li></strong>
                <p>Your presence on our special day is what's most important to us! We don't have a registry. Cash gifts are welcome if you'd like to contribute to our honeymoon. We have also just moved into our new home that we are currently decorating, so Home Sense-like gift cards would also make a wonderful gift.</p>
                <strong><li>Parking availability</li></strong>
                <p>Free parking is available on site at Cave Springs for the ceremony (follow the signs for Bruno and Valeria) and in downtown Jordan for the reception (right across the street from the restaurant). You can also choose to leave your car there overnight if you don’t want to drive after a few drinks.</p>
            </ol>
        </div>
    </div>
</section>

<footer class="footer has-background-black">
    <div class="content has-text-centered">
        <p class="has-text-white">Website built by the groom. You can find the code <a href="https://github.com/bgbauermann/wedding-website">here</a>.</p>
    </div>
</footer>
    
{% endblock content %}