.top-image {
background-image: url("img/cavesprings1.jpg");
background-color: #cccccc;
background-position: center bottom;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

#pic_tiles img{
    cursor: pointer;
}

#pic_tiles img:hover{
    opacity: 0.7;
}